
<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs') %>
<body>
    <div class="container">
        <h1>Sistema de Perguntas</h1>

        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="/perguntar">Perguntar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>

    </div>


</body>
<%- include('./partials/footer.ejs') %>