<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs') %>


<body>
    <h1>Formulário de Perguntas</h1>

<div class="container">
    <div class="card" id="formulario-perguntas">

        <div class="card-header">
            <h3>Realizar Perguntas</h3>
            <hr>
        </div>
        <div class="card-body">
            <form action="">
                <label for="">Título:</label>
                <input type="text" class="form-control" aria-placeholder="Título"><br />
                <label for="">Descrição:</label>
                <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Descreva a pergunta"></textarea><br />
                <button class="btn  btn-primary">Perguntar</button>
            </form>
        </div>
    </div>
    </div>
</body>

<%- include('./partials/footer.ejs') %>